/.DS_Store
/aa.html
/abootutt.html
/ajax.html
/ajax.php
/ajax1.php
/attendance.css
/attendance.css.html
/attendance.php
/cajax.php
/chainsawman.html
/chainsawman.php
/homestudent.html
/homestudent.php
/ide.png
/img1.png
/index 10.44.19 PM.html
/index.html
/indexpage.cc
/indexpage.css
/info.php
/ipmc.php
/linke.php
/login.php
/loginclas.php
/loginstudent.php
/logintchr.php
/majax.php
/mob.html
/mob.php
/movielay.html
/movielay.php
/new.php
/nt.php
/redesign.php
/register.php
/registerclass.php
/registerstudent.php
/registerteacher.php
/rushi.php
/search.php
/searchnew.php
/selectde.php
/serrieslay.php
/test1.php
/test2.php
/time.html
/time.php
/trend.php
/tt.php
/upload