.w3-bar-item:hover{
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
    background-repeat: no-repeat;
    background-size: cover;
}
.w3-xlarge:hover{
    background-color: white;
}
#sign:hover{
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
    font-weight: bold;
}
#sign1:hover{
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
    font-weight: bold;
}
@media (min-width: 280px){
    #div1{
    height:55vh;
}
#div2{
    height: 40vh;
    background-color:white;
}
#h3{
    font-size: 2rem;
    font-weight: bold;
    color: black;
    margin-top: 7rem;
}
#h1{
    font-size: 2.5rem;
    font-weight: bolder;
    color: black;
}
#sign{
    text-decoration:none ;
    font-size: 1.4rem;
    color: white;
    padding: 1rem;
    margin-top: 3rem;
    border-radius: 20px;

}
#sign1{
    text-decoration:none ;
    font-size: 1.4rem;
    color: white;
    padding: 1rem 1.3rem 1rem 1.3rem;
    margin-top: 1rem;
    border-radius: 20px;
}
#div3{
    margin-top: 5rem;
    margin-left:5rem ;
    width: 40%;
}
#div4{
    margin-top: 1rem;
    margin-left:5rem ;
    width: 40%;
}
#wel{
    font-size: 2rem;
    font-weight: bolder;
    margin-top: 6rem;
}
#wel_name{
    font-size: 2.5rem;
    font-weight: bolder;
}
}



@media (min-width:768px){
#div1{
    height:100vh;
}
#div2{
    height: 100vh;
    background-color:white;
    border-bottom-left-radius: 12550px 12550px;
}
#sign{
    text-decoration:none ;
    font-size: 1.6rem;
    color: white;
    padding: 1rem;
    margin-top: 3rem;
    border-radius: 20px;
}
#sign1{
    text-decoration:none ;
    font-size: 1.6rem;
    color: white;
    padding: 1rem 1.3rem 1rem 1.3rem;
    margin-top: 1rem;
    border-radius: 20px;
}
#wel{
    font-size: 3rem;
    font-weight: bolder;
    margin-top: 10rem;
    padding: 0.5;
}
#wel_name{
    font-size: 3.5rem;
    font-weight: bolder;
    padding: 0.5;
}
table{
    margin-top: 1rem;
}
table tr td {
    font-size: 1.8rem;
    padding: 0.5rem;
    border: 1px solid black;
    text-align: center;
    padding-left: 1rem;
    padding-right: 1rem;
}
#wel_percent{
    font-size: 2rem;
    font-weight: bold;
    margin-top: 4rem;
}
#div3{
    margin-top: 0rem;
    margin-left: 0rem;
    padding: 1rem;
    background-color: #8EC5FC;
    width: 100%;
}
}
@media (min-width:1024px){
#div1{
    height:70vh;
    
}
#div2{
    height: 100vh;
    background-color:white;
    border-bottom-left-radius: 1550px 1550px;
}
#h3{
    font-size: 3.5rem;
    font-weight: bold;
    color: black;
    margin-top: 17rem;
    margin-left: 1rem;
}
#h1{
    font-size: 4rem;
    font-weight: bolder;
    color: black;
    margin-left: 1rem;
}
#div3{
    margin-top: 0rem;
    margin-left: 25rem;
    background-color: #E0C3FC;
    width: auto;
    padding: 1rem;
}
#div4{
    margin-left: 1rem;
}
#sign{
    text-decoration:none ;
    font-size: 1.6rem;
    color: white;
    padding: 1rem;
    margin-top: 3rem;
    border-radius: 20px;

}
#sign1{
    text-decoration:none ;
    font-size: 1.6rem;
    color: white;
    padding: 1rem 1.3rem 1rem 1.3rem;
    margin-top: 1rem;
    border-radius: 20px;
}
#wel{
    font-size: 3rem;
    font-weight: bolder;
    margin-top: 10rem;
}
#wel_name{
    font-size: 3.5rem;
    font-weight: bolder;
}
table{
    margin-top: 1rem;
}
table tr td {
    font-size: 1.8rem;
    padding: 0.5rem;
    border: 1px solid black;
    text-align: center;
    padding-left: 1rem;
    padding-right: 1rem;
}
#wel_percent{
    font-size: 2rem;
    font-weight: bold;
    margin-top: 4rem;
}
}

::selection {
    color: white;
    background: black;
  }